body {
    background-color: pink;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff0f5;
    padding: 20px;
    width: 400px;
    margin: 40px auto;
    border-radius: 15px;
}

h2, h3 {
    color: #d63384;
    text-align: center;
}

button {
    background-color: hotpink;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
}

.hidden {
    display: none;
}
